<div class="col-sm-6">
  <h1>Welcome!</h1>
  <p> Here you can search different artists and their galleries!</p>
  <p> If you want to add your portfolio to the website <a href="/register">Register! </a> Soon you'll be receiving asks about your art!</p>
</div>